
/*.header {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 5rem;*/
/*    background-color: #6B240C;*/
/*    color: white!important;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 0 5%;*/
/*    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);*/
/*    z-index: 100;*/

/*}*/
/*.header a {*/
/*    font-size: large!important;*/
/*    color: white!important;*/
/*    list-style: none;*/
/*    text-decoration: none!important;*/
/*}*/
/*.main-image {*/
/*    width: 100%;*/
/*    height: 7rem;*/
/*    z-index: 0;*/
/*    overflow: hidden;*/
/*}*/

/*!*.main-image img {*!*/
/*!*    width: 110%;*!*/
/*!*    height: 100%;*!*/
/*!*    object-fit: cover;*!*/
/*!*    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);*!*/
/*!*}*!*/
/* Header.css */

.header {
    background-color: #07BA5D; /* Background color */
    color: white; /* Text color */
    padding: 0rem 2rem; /* Padding */
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Center elements vertically */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.header-content {
    display: flex;
    align-items: center;
    gap: 2rem; /* Space between elements */
}

.headerTitle, .headerG5{
margin: auto;
    font-family: iranyekanwebextrabold, sans-serif;
    /*position: absolute;*/
    /*display: block;*/
}


.headerG5 img, .headerTitle img{
    width: 150px;
}

.header-title {
    font-size: 1.5rem; /* Font size */
    font-weight: bold; /* Bold text */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Transition for hover effect */
}

.header-title:hover {
    color: #ffeb3b; /* Hover color */
}

.main-image {
    /*background-image: url('/path/to/your/image.jpg'); !* Replace with your image path *!*/
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the image */
    height: 400px; /* Adjust height as needed */
    margin-top: 1rem; /* Space above the image */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
}

/*.header button:not(.profile_button button) {*/
/*    background-color: #ffeb3b; !* Button background color *!*/
/*    color: #4CAF50; !* Button text color *!*/
/*    border: none; !* Remove border *!*/
/*    padding: 0.5rem 1rem; !* Padding *!*/
/*    border-radius: 4px; !* Rounded corners *!*/
/*    cursor: pointer; !* Pointer cursor *!*/
/*    transition: background-color 0.3s ease; !* Transition for hover effect *!*/
/*}*/


/*.header button:hover {*/
/*    background-color: #cddc39; !* Hover background color *!*/
/*}*/

/* Responsive Styles */
@media (max-width: 768px) {
    .header {
        padding: 1rem; /* Reduce padding */
        flex-direction: column; /* Stack elements vertically */
        align-items: flex-start; /* Align items to the start */
    }

    .header-content {
        flex-direction: column; /* Stack elements vertically */
        gap: 0.5rem; /* Reduce gap */
        width: 100%; /* Full width */
    }

    .header-title {
        font-size: 1.25rem; /* Reduce font size */
    }

    .main-image {
        height: 300px; /* Adjust height */
    }
}

@media (max-width: 480px) {
    .header-title {
        font-size: 1rem; /* Further reduce font size */
    }

    .main-image {
        height: 200px; /* Further adjust height */
    }
}



/* .path-0 {*/
/*     animation: pathAnim-0 4s linear infinite;*/
/* }*/
/*.path-1 {*/
/*    animation: pathAnim-1 4s linear infinite;*/
/*}*/

/*@keyframes pathAnim-0 {*/
/*    0 % {*/
/*        d: path("M 0,400 L 0,100 C 146.89285714285714,106.71428571428572 293.7857142857143,113.42857142857143 397,117 C 500.2142857142857,120.57142857142857 559.7500000000001,121 680,109 C 800.2499999999999,97 981.2142857142858,72.57142857142857 1118,69 C 1254.7857142857142,65.42857142857143 1347.392857142857,82.71428571428572 1440,100 L 1440,400 L 0,400 Z");*/
/*    }*/
/*    25% {*/
/*        d: path("M 0,400 L 0,100 C 120.35714285714286,109.78571428571428 240.71428571428572,119.57142857142857 347,112 C 453.2857142857143,104.42857142857143 545.4999999999999,79.49999999999999 668,72 C 790.5000000000001,64.50000000000001 943.2857142857144,74.42857142857144 1077,82 C 1210.7142857142856,89.57142857142856 1325.3571428571427,94.78571428571428 1440,100 L 1440,400 L 0,400 Z");*/
/*    }*/
/*    50% {*/
/*        d: path("M 0,400 L 0,100 C 91.28571428571428,84.21428571428572 182.57142857142856,68.42857142857143 302,80 C 421.42857142857144,91.57142857142857 568.9999999999999,130.5 720,143 C 871.0000000000001,155.5 1025.4285714285716,141.57142857142856 1146,130 C 1266.5714285714284,118.42857142857143 1353.2857142857142,109.21428571428572 1440,100 L 1440,400 L 0,400 Z");*/
/*    }*/
/*    75% {*/
/*        d: path("M 0,400 L 0,100 C 124.96428571428572,108.25 249.92857142857144,116.5 379,114 C 508.07142857142856,111.5 641.2500000000001,98.25000000000001 764,105 C 886.7499999999999,111.74999999999999 999.0714285714284,138.5 1110,141 C 1220.9285714285716,143.5 1330.4642857142858,121.75 1440,100 L 1440,400 L 0,400 Z");*/
/*    }*/
/*    100% {*/
/*        d: path("M 0,400 L 0,100 C 146.89285714285714,106.71428571428572 293.7857142857143,113.42857142857143 397,117 C 500.2142857142857,120.57142857142857 559.7500000000001,121 680,109 C 800.2499999999999,97 981.2142857142858,72.57142857142857 1118,69 C 1254.7857142857142,65.42857142857143 1347.392857142857,82.71428571428572 1440,100 L 1440,400 L 0,400 Z");*/
/*    }*/
/*}*/

/*@keyframes pathAnim-1 {*/
/*    0 % {*/
/*        d: path("M 0,400 L 0,233 C 98.57142857142858,239.78571428571428 197.14285714285717,246.57142857142858 326,234 C 454.85714285714283,221.42857142857142 614,189.5 728,190 C 842,190.5 910.8571428571429,223.42857142857142 1022,236 C 1133.142857142857,248.57142857142858 1286.5714285714284,240.78571428571428 1440,233 L 1440,400 L 0,400 Z")*/
/*    }*/
/*    25 % {*/
/*        d: path("M 0,400 L 0,233 C 140.5,235.32142857142858 281,237.64285714285717 402,248 C 523,258.35714285714283 624.5000000000001,276.75 732,276 C 839.4999999999999,275.25 953,255.35714285714286 1072,245 C 1191,234.64285714285714 1315.5,233.82142857142856 1440,233 L 1440,400 L 0,400 Z")*/
/*    }*/
/*    50 % {*/
/*        d: path("M 0,400 L 0,233 C 115.96428571428572,211.14285714285714 231.92857142857144,189.28571428571428 339,195 C 446.07142857142856,200.71428571428572 544.2500000000001,234 663,237 C 781.7499999999999,240 921.0714285714287,212.7142857142857 1054,207 C 1186.9285714285713,201.2857142857143 1313.4642857142858,217.14285714285717 1440,233 L 1440,400 L 0,400 Z")*/
/*    }*/
/*    75 % {*/
/*        d: path("M 0,400 L 0,233 C 146.17857142857142,259.6428571428571 292.35714285714283,286.2857142857143 391,276 C 489.64285714285717,265.7142857142857 540.7500000000001,218.5 663,208 C 785.2499999999999,197.5 978.6428571428571,223.7142857142857 1120,234 C 1261.357142857143,244.2857142857143 1350.6785714285716,238.64285714285717 1440,233 L 1440,400 L 0,400 Z");*/
/*    }*/
/*    100 % {*/
/*        d: path("M 0,400 L 0,233 C 98.57142857142858,239.78571428571428 197.14285714285717,246.57142857142858 326,234 C 454.85714285714283,221.42857142857142 614,189.5 728,190 C 842,190.5 910.8571428571429,223.42857142857142 1022,236 C 1133.142857142857,248.57142857142858 1286.5714285714284,240.78571428571428 1440,233 L 1440,400 L 0,400 Z");*/
/*    }*/
/*}*/


 .path-1{
     animation:pathAnim-1 4s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }
@keyframes pathAnim-1{
    0 % {
        d: path("M 0,400 L 0,233 C 117.86666666666667,219.26666666666665 235.73333333333335,205.53333333333333 408,199 C 580.2666666666667,192.46666666666667 806.9333333333334,193.13333333333333 988,200 C 1169.0666666666666,206.86666666666667 1304.5333333333333,219.93333333333334 1440,233 L 1440,400 L 0,400 Z");
    }
    25%{
        d: path("M 0,400 L 0,233 C 152.40000000000003,234.73333333333335 304.80000000000007,236.46666666666667 460,239 C 615.1999999999999,241.53333333333333 773.2,244.86666666666667 937,244 C 1100.8,243.13333333333333 1270.4,238.06666666666666 1440,233 L 1440,400 L 0,400 Z");
    }
    50%{
        d: path("M 0,400 L 0,233 C 141.86666666666667,227.13333333333333 283.73333333333335,221.26666666666665 433,227 C 582.2666666666667,232.73333333333335 738.9333333333334,250.0666666666667 908,253 C 1077.0666666666666,255.9333333333333 1258.5333333333333,244.46666666666664 1440,233 L 1440,400 L 0,400 Z");
    }
    75%{
        d: path("M 0,400 L 0,233 C 146.66666666666669,229.26666666666665 293.33333333333337,225.53333333333333 457,226 C 620.6666666666666,226.46666666666667 801.3333333333333,231.13333333333333 968,233 C 1134.6666666666667,234.86666666666667 1287.3333333333335,233.93333333333334 1440,233 L 1440,400 L 0,400 Z");
    }
    100%{
        d: path("M 0,400 L 0,233 C 117.86666666666667,219.26666666666665 235.73333333333335,205.53333333333333 408,199 C 580.2666666666667,192.46666666666667 806.9333333333334,193.13333333333333 988,200 C 1169.0666666666666,206.86666666666667 1304.5333333333333,219.93333333333334 1440,233 L 1440,400 L 0,400 Z");
    }
}
   .path-0{
       animation:pathAnim-0 4s;
       animation-timing-function: linear;
       animation-iteration-count: infinite;
   }
@keyframes pathAnim-0{
    0 % {
        d: path("M 0,400 L 0,100 C 156.40000000000003,92.8 312.80000000000007,85.6 486,78 C 659.1999999999999,70.4 849.2,62.400000000000006 1011,66 C 1172.8,69.6 1306.4,84.8 1440,100 L 1440,400 L 0,400 Z");
    }
    25%{
        d: path("M 0,400 L 0,100 C 145.06666666666666,123.2 290.1333333333333,146.4 454,146 C 617.8666666666667,145.6 800.5333333333333,121.6 968,110 C 1135.4666666666667,98.4 1287.7333333333333,99.2 1440,100 L 1440,400 L 0,400 Z");
    }
    50%{
        d: path("M 0,400 L 0,100 C 160.53333333333336,104.26666666666667 321.0666666666667,108.53333333333333 487,118 C 652.9333333333333,127.46666666666667 824.2666666666667,142.13333333333335 984,140 C 1143.7333333333333,137.86666666666665 1291.8666666666668,118.93333333333332 1440,100 L 1440,400 L 0,400 Z");
    }
    75%{
        d: path("M 0,400 L 0,100 C 115.86666666666667,78.53333333333333 231.73333333333335,57.06666666666668 415,66 C 598.2666666666667,74.93333333333332 848.9333333333334,114.26666666666668 1031,125 C 1213.0666666666666,135.73333333333332 1326.5333333333333,117.86666666666666 1440,100 L 1440,400 L 0,400 Z");
    }
    100%{
        d: path("M 0,400 L 0,100 C 156.40000000000003,92.8 312.80000000000007,85.6 486,78 C 659.1999999999999,70.4 849.2,62.400000000000006 1011,66 C 1172.8,69.6 1306.4,84.8 1440,100 L 1440,400 L 0,400 Z");
    }
}



/* .path-0{*/
/*     animation:pathAnim-0 4s;*/
/*     animation-timing-function: linear;*/
/*     animation-iteration-count: infinite;*/
/* }*/
/*@keyframes pathAnim-0{*/
/*    0 % {*/
/*        d: path("M 0,400 L 0,150 C 183.06666666666666,176.39999999999998 366.1333333333333,202.79999999999998 520,183 C 673.8666666666667,163.20000000000002 798.5333333333333,97.2 947,84 C 1095.4666666666667,70.8 1267.7333333333333,110.4 1440,150 L 1440,400 L 0,400 Z");*/
/*    }*/
/*    25%{*/
/*        d: path("M 0,400 L 0,150 C 126.66666666666663,121.19999999999999 253.33333333333326,92.39999999999999 395,98 C 536.6666666666667,103.60000000000001 693.3333333333335,143.60000000000002 870,158 C 1046.6666666666665,172.39999999999998 1243.3333333333333,161.2 1440,150 L 1440,400 L 0,400 Z");*/
/*    }*/
/*    50%{*/
/*        d: path("M 0,400 L 0,150 C 212.5333333333333,154.8 425.0666666666666,159.6 561,172 C 696.9333333333334,184.4 756.2666666666668,204.4 890,202 C 1023.7333333333332,199.6 1231.8666666666666,174.8 1440,150 L 1440,400 L 0,400 Z");*/
/*    }*/
/*    75%{*/
/*        d: path("M 0,400 L 0,150 C 139.7333333333333,125.33333333333334 279.4666666666666,100.66666666666667 439,101 C 598.5333333333334,101.33333333333333 777.8666666666668,126.66666666666666 948,139 C 1118.1333333333332,151.33333333333334 1279.0666666666666,150.66666666666669 1440,150 L 1440,400 L 0,400 Z");*/
/*    }*/
/*    100%{*/
/*        d: path("M 0,400 L 0,150 C 183.06666666666666,176.39999999999998 366.1333333333333,202.79999999999998 520,183 C 673.8666666666667,163.20000000000002 798.5333333333333,97.2 947,84 C 1095.4666666666667,70.8 1267.7333333333333,110.4 1440,150 L 1440,400 L 0,400 Z");*/
/*    }*/
/*}*/