
.footer {
    /*background-color: #333;*/
    color: #fff;
    /*padding: 20px 0;*/
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul, .footer-section a {
    font-size: 14px;
    color: #ccc;
}

.footer-section a:hover {
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin: 5px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
    color: #ccc;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #fff;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-section {
        text-align: left;
        padding: 0 20px;
    }

    .footer-bottom {
        text-align: center;
    }
}

 .path-2{
     animation:pathAnim-2 4s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }

@keyframes pathAnim-1{
    0 % {
        d: path("M 0,400 L 0,0 C 118,77.32142857142857 236,154.64285714285714 356,173 C 476,191.35714285714286 598.0000000000001,150.74999999999997 725,146 C 851.9999999999999,141.25000000000003 984,172.35714285714286 1104,154 C 1224,135.64285714285714 1332,67.82142857142857 1440,0 L 1440,400 L 0,400 Z");
    }
    25%{
        d: path("M 0,400 L 0,0 C 138.67857142857142,86.82142857142857 277.35714285714283,173.64285714285714 374,191 C 470.64285714285717,208.35714285714286 525.2500000000001,156.25 655,160 C 784.7499999999999,163.75 989.6428571428571,223.35714285714286 1133,206 C 1276.357142857143,188.64285714285714 1358.1785714285716,94.32142857142857 1440,0 L 1440,400 L 0,400 Z");
    }
    50%{
        d: path("M 0,400 L 0,0 C 118.14285714285714,70.46428571428571 236.28571428571428,140.92857142857142 348,162 C 459.7142857142857,183.07142857142858 565,154.75000000000003 688,161 C 811,167.24999999999997 951.7142857142858,208.07142857142858 1080,187 C 1208.2857142857142,165.92857142857142 1324.142857142857,82.96428571428571 1440,0 L 1440,400 L 0,400 Z");
    }
    75%{
        d: path("M 0,400 L 0,0 C 113.85714285714286,73.17857142857143 227.71428571428572,146.35714285714286 348,162 C 468.2857142857143,177.64285714285714 594.9999999999999,135.75000000000003 720,140 C 845.0000000000001,144.24999999999997 968.2857142857142,194.64285714285717 1088,179 C 1207.7142857142858,163.35714285714283 1323.857142857143,81.67857142857142 1440,0 L 1440,400 L 0,400 Z");
    }
    100%{
        d: path("M 0,400 L 0,0 C 118,77.32142857142857 236,154.64285714285714 356,173 C 476,191.35714285714286 598.0000000000001,150.74999999999997 725,146 C 851.9999999999999,141.25000000000003 984,172.35714285714286 1104,154 C 1224,135.64285714285714 1332,67.82142857142857 1440,0 L 1440,400 L 0,400 Z");
    }
}
@keyframes pathAnim-2{
    0 % {
        d: path("M 0,400 L 0,0 C 88.14285714285714,103.64285714285714 176.28571428571428,207.28571428571428 293,244 C 409.7142857142857,280.7142857142857 554.9999999999999,250.5 688,255 C 821.0000000000001,259.5 941.7142857142858,298.7142857142857 1065,262 C 1188.2857142857142,225.28571428571428 1314.142857142857,112.64285714285714 1440,0 L 1440,400 L 0,400 Z");
    }
    25%{
        d: path("M 0,400 L 0,0 C 100.5,110.46428571428572 201,220.92857142857144 321,252 C 441,283.07142857142856 580.5,234.75 720,249 C 859.5,263.25 999,340.07142857142856 1119,309 C 1239,277.92857142857144 1339.5,138.96428571428572 1440,0 L 1440,400 L 0,400 Z");
    }
    50%{
        d: path("M 0,400 L 0,0 C 95.21428571428572,120.35714285714286 190.42857142857144,240.71428571428572 319,291 C 447.57142857142856,341.2857142857143 609.5,321.5 725,311 C 840.5,300.5 909.5714285714284,299.2857142857143 1021,249 C 1132.4285714285716,198.71428571428572 1286.2142857142858,99.35714285714286 1440,0 L 1440,400 L 0,400 Z");
    }
    75%{
        d: path("M 0,400 L 0,0 C 78.96428571428572,108.82142857142858 157.92857142857144,217.64285714285717 299,255 C 440.07142857142856,292.35714285714283 643.25,258.25 762,269 C 880.75,279.75 915.0714285714284,335.35714285714283 1014,298 C 1112.9285714285716,260.64285714285717 1276.4642857142858,130.32142857142858 1440,0 L 1440,400 L 0,400 Z");
    }
    100%{
        d: path("M 0,400 L 0,0 C 88.14285714285714,103.64285714285714 176.28571428571428,207.28571428571428 293,244 C 409.7142857142857,280.7142857142857 554.9999999999999,250.5 688,255 C 821.0000000000001,259.5 941.7142857142858,298.7142857142857 1065,262 C 1188.2857142857142,225.28571428571428 1314.142857142857,112.64285714285714 1440,0 L 1440,400 L 0,400 Z");
    }
}

 .path-1{
     animation:pathAnim-1 4s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }


 .path-0{
     animation:pathAnim-0 4s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }
@keyframes pathAnim-0{
    0 % {
        d: path("M 0,400 L 0,0 C 86.96428571428572,35.17857142857143 173.92857142857144,70.35714285714286 295,85 C 416.07142857142856,99.64285714285714 571.2499999999999,93.75000000000001 720,92 C 868.7500000000001,90.24999999999999 1011.0714285714287,92.64285714285714 1130,78 C 1248.9285714285713,63.35714285714286 1344.4642857142858,31.67857142857143 1440,0 L 1440,400 L 0,400 Z");
    }
    25%{
        d: path("M 0,400 L 0,0 C 106.57142857142858,48.464285714285715 213.14285714285717,96.92857142857143 323,105 C 432.85714285714283,113.07142857142857 546.0000000000001,80.75 664,65 C 781.9999999999999,49.25 904.8571428571429,50.07142857142857 1035,42 C 1165.142857142857,33.92857142857143 1302.5714285714284,16.964285714285715 1440,0 L 1440,400 L 0,400 Z");
    }
    50%{
        d: path("M 0,400 L 0,0 C 153.75,21.035714285714285 307.5,42.07142857142857 420,51 C 532.5,59.92857142857143 603.7499999999999,56.749999999999986 710,65 C 816.2500000000001,73.25000000000001 957.5,92.92857142857143 1085,84 C 1212.5,75.07142857142857 1326.25,37.535714285714285 1440,0 L 1440,400 L 0,400 Z");
    }
    75%{
        d: path("M 0,400 L 0,0 C 87.57142857142858,44.857142857142854 175.14285714285717,89.71428571428571 313,98 C 450.85714285714283,106.28571428571429 639,78 785,71 C 931,64 1034.857142857143,78.28571428571428 1137,70 C 1239.142857142857,61.714285714285715 1339.5714285714284,30.857142857142858 1440,0 L 1440,400 L 0,400 Z");
    }
    100%{
        d: path("M 0,400 L 0,0 C 86.96428571428572,35.17857142857143 173.92857142857144,70.35714285714286 295,85 C 416.07142857142856,99.64285714285714 571.2499999999999,93.75000000000001 720,92 C 868.7500000000001,90.24999999999999 1011.0714285714287,92.64285714285714 1130,78 C 1248.9285714285713,63.35714285714286 1344.4642857142858,31.67857142857143 1440,0 L 1440,400 L 0,400 Z");
    }
}