
.card{
    border-radius: 15px;
    background: #d71c1c;
    padding: 11px;
    color: white;
    border: #c73030 2px solid;
    margin-left: 70px;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}