.loginBody{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom,#E0F2E9 , #007CBE,#20f589 );
}
.loginMain{
    font-family: 'Jost', sans-serif;
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
#chk{
    display: none;
}
.signup{
    position: relative;
    width:100%;
    height: 100%;
}
.loginMain label{
    color: black;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
    /*padding-top: 13px;*/
    font-family: iranyekanwebblack;
    text-align: center;
    direction: rtl;
}
.loginMain input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    font-family: iranyekanwebmedium;

    border: none;
    outline: none;
    direction: rtl;
    border-radius: 5px;
}
.registerlabel{
    margin  : 10px!important;
}
.loginMain button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    font-family: iranyekanwebextrabold;
direction: rtl;
    display: block;
    color: black;
    background: #8ec7d9;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
.loginMain button:hover{
    background: #8ec7d9;
}
.login{
    height: 460px;
    /*background: #B4869F;*/

    background: #5de57c;

    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: black;
    transform: scale(.6);
}

#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}


.signup .avatar-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.signup .avatar-selection .avatar {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
}

.signup .avatar-selection .avatar.selected {
    border-color: blue;
}

.error {
    color: #d30000;
    font-size: small;
    direction: rtl;
    text-align: center;
    margin: -20px 0;
}